h1 {
    color:ghostwhite;
    font-style: italic;
    padding: center;
    }

body {
    background-image:url("Back.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.navbar{
    background-color:ghostwhite;
    height:50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
